* {
    max-width: 100%;
}

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: green;
}

#to-do-list, #newItem {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 300px;
    margin: 0 auto 50px;
}

#to-do-list li {
    border: 1px solid black;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
}

#languages li:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

textarea {
    font-size: 30px;
}